<div class="container mt-3">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center titulo">
                        Recuperar Contraseña
                    </h3>
                    <form [formGroup]="recuperarform" (ngSubmit)="recuperarPassword()">
                        <div class="mb-3">
                            <input type="text" formControlName="usuario" class="form-control form-control-lg" placeholder="Ingrese su correo">    
                        </div>
                        <div class="text-danger" *ngIf="recuperarform.get('usuario')?.hasError('required') && recuperarform.get('usuario')?.touched">
                            El correo es <strong>Obligario</strong>
                        </div>
                        <div class="text-danger" *ngIf="recuperarform.get('usuario')?.hasError('email') && recuperarform.get('usuario')?.touched">
                            Correo <strong>invalido</strong>
                        </div>
                        <button class="btn-secondary btn-lg" routerLink="/usuario">Volver</button>
                        <button class="btn-primary btn-lg float-end" [disabled]="recuperarform.invalid" type="submit">Aceptar</button>
                    </form>    
                </div>
            </div>
        </div>
    </div>
</div>